.heading {
  color: black;
  font-weight: 400;
  margin-bottom: 2rem;
  font-family: $mont;

  &--big {
    font-size: 40px;
  }

  &--white {
    color: #fff;
  }

  &--green {
    color: $green;
  }

  &--dark {
    color: $dark;
  }
  &--bold {
    font-weight: 700;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--center {
    text-align: center;
  }

  &--nomarg {
    margin: 0;
  }
}
