.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/home.jpg');
    height: 91vh;
    background-size: cover;
    
    &__title {
        font-family: $deco;
        color: #fff;
        text-align: center;
        font-size: $large;
        letter-spacing: 0.2rem;
        margin-top: 10rem!important;
    }

    &__icon {
        color: #fff;

    }

    &__info {
        color: #fff;
        margin: 0;
    }
}