.place {
    min-height: 92vh;
    left: -1px;

    &__hero{
        background-color: $beige;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width:700px) {
    .place {

        &__content {
            max-width: 800px;
            margin: 0 auto!important;
        }

        &__hero-img {
            max-width: 250px;
        }
    }
}