.sidenav {
    z-index: 950;
    width: 250px!important;
    position: fixed;
    background-color: $dark!important;

    &__line {
        content: '';
        height: 20px;
        width: 100%;
        background-color: $green;
    }

    &__toggle {
        z-index: 950;
        color: $dark;
        margin-top: 1rem!important;

        &--clicked {
            margin-left: 250px!important;
        }
    }

    &__title {
        font-family: $deco;
        font-size: $large;
        color: #fff;
        margin-top: 1rem!important;
        margin-bottom: 1rem;
        text-align: left;
        padding-left: 2rem;
    }

    &__link {
        display: block;
        text-align: left;
        color: #fff;
        font-size: $medium;
        padding-bottom: 2rem;
        padding-left: 2rem;

        &__hover {
            font-weight: 600;
            color: $green;
        }
    }


}