.text {
    color: $dark;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 2rem;

    &--s {
        font-size: 18px;
    }

    &--white {
        color: #fff;
    }

    &--green {
        color: $green;
    }

    &--bold {
        font-weight: 700;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--capitalize {
        text-transform: capitalize;
    }

    &--center {
        text-align: center;
    }
}