.imagelink {
  min-height: 200px;
  margin-bottom: 1rem;
  

  &:hover {
    h3 {
        color: $green;
    }
  }

  &__title {
    font-family: $deco;
    color: #fff;
    font-size: $large;
    letter-spacing: 0.5rem;
  }
}
